USE [bible]
GO
/****** Object:  Table [dbo].[key_abbreviations_english] - A table mapping book abbreviations to the book they refer to ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[key_abbreviations_english]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[key_abbreviations_english](
	[id] [int] IDENTITY(1,1) NOT NULL, -- Abbreviation ID
	[a] [nvarchar](max) NOT NULL, 
	[b] [int] NOT NULL, -- ID of book that is abbreviated
	[p] [bit] NOT NULL, -- Whether an abbreviation is the primary one for the book
 CONSTRAINT [PK_key_abbreviations_english] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[key_abbreviations_english] ON 

INSERT [dbo].[key_abbreviations_english] ([id], [a], [b], [p]) VALUES (1, N'Gen', 1, 1)
INSERT [dbo].[key_abbreviations_english] ([id], [a], [b], [p]) VALUES (2, N'Ge', 1, 0)
INSERT [dbo].[key_abbreviations_english] ([id], [a], [b], [p]) VALUES (3, N'Gn', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[key_abbreviations_english] OFF
