USE [bible]
GO
/****** Object:  Table [dbo].[key_english] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[key_english]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[key_english](
	[b] [int] NOT NULL, -- Book #
	[n] [nvarchar](max) NOT NULL, -- Name
	[t] [nvarchar](max) NOT NULL, -- Which Testament this book is in
	[g] [int] NOT NULL, -- A genre ID to identify the type of book this is
 CONSTRAINT [PK_key_english] PRIMARY KEY CLUSTERED 
(
	[b] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[key_english] ([b], [n], [t], [g]) VALUES (1, N'Genesis', N'OT', 1)
INSERT [dbo].[key_english] ([b], [n], [t], [g]) VALUES (2, N'Exodus', N'OT', 1)
INSERT [dbo].[key_english] ([b], [n], [t], [g]) VALUES (3, N'Leviticus', N'OT', 1)
